header.App-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding:  0.5rem 2rem;
    background-color: #333;
    animation: pulse-shadow 5s infinite;
    border-radius: 0 0 1rem 1rem;
}
@keyframes pulse-shadow {
    50%{
      box-shadow: 0 0.2rem 0.8rem rgba(193, 41, 46, 0.4);
    }
  }